.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; // 左對齊
  gap: 60px;
  padding: 80px 40px;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Noto Sans TC", sans-serif;
}

.product-card {
  width: 300px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.product-image-wrapper {
  position: relative;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.product-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 19px;
  margin-bottom: 14px;
}

.product-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: left;
}

.tag {
  padding: 4px 16px;
  font-size: 14px;
  font-weight: 500;
  color: #3DCE94;
  border: 1px solid #3DCE94;
  background-color: #E6FBF3;
  border-radius: 999px;
  display: inline-block;
  margin-top: 19px;
  margin-bottom: 14px;
}

/* 購物車按鈕 */
.cart-btn {
  bottom: 12px;
  right: 12px;
  width: 48px;
  height: 48px;
  background: url("/icons/img/shop-btn.svg") no-repeat center/contain;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-image: url("/icons/img/shop-btn-hover.svg");
    transform: scale(1.05);
  }

  &.added {
    filter: grayscale(1);
    opacity: 0.7;
    pointer-events: none;
  }
}

.like-btn {
  bottom: 12px;
  right: 12px;
  width: 48px;
  height: 48px;
  background: url("/icons/img/like-btn.svg") no-repeat center/contain;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s ease;

  &.added {
    filter: grayscale(1);
    opacity: 0.7;
    pointer-events: none;
  }
}

.like-btn.active {
  background-image: url("/icons/img/like-btn-hover.svg");
  transform: scale(1.05);
}

.product-card .product-image-wrapper {
  width: 100%;
  overflow: hidden;
}

.product-card .product-image-wrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 20px;
  background: none;
  /* 一開始不顯示背景 */
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.product-card .product-image-wrapper .product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  //transition: opacity 0.3s ease;
  display: block;
}

/* hover 隱藏圖片 */
.product-card .product-image-wrapper:hover .product-image {
  opacity: 0;
}

/* hover 時背景換圖 + 放大 */
.product-card .product-image-wrapper:hover {
  background: url("/shop/img/jaso-mock-up_bg_Ca.png") no-repeat center/cover;
  transform: scale(1.05);
}


.product-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
  line-height: 1.4;
  color: #000;

  .product-subtitle {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    margin-left: 8px;
  }
}

.product-desc {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 8px;
}

.product-link {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-weight: 600;
  font-size: 14px;
  color: #3DCE94;
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease;

  .arrow,
  .text {
    display: inline-block;
    transition: transform 0.4s ease, opacity 0.4s ease;
  }

  .arrow {
    transform: translateX(-8px);
    opacity: 1;
  }

  .text {
    transform: translateX(-8px);
    opacity: 1;
  }

  &:hover {
    .arrow {
      transform: translateX(100px);
      opacity: 2;
    }

    .text {
      transform: translateX(-20px);
      opacity: 1;
    }
  }
}