@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
/* reset CSS */
* {
  box-sizing: border-box;
  /*不要家邊框及內鉅*/
}

/* reset CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 重置字體 */
body {
  font-family: "Noto Sans TC", sans-serif, sans-serif;
  background: #ffffff;
  font-size: 100%;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Sans TC", sans-serif;
}

ul, ol {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

input, select, option {
  outline: none;
}

.navHidden {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 1280px;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 75px;
  border-radius: 50px;
  border: 1px solid rgba(200, 200, 200, 0.4);
  background: rgba(226, 226, 226, 0.25);
  box-shadow: 2px 2px 2px 0px rgba(255, 255, 255, 0.25) inset, 1px 5px 5.5px 0px rgba(0, 0, 0, 0.02);
  backdrop-filter: blur(7.5px);
  z-index: 1000;
}

.logo {
  width: 116.5px;
}
.logo img {
  width: 100%;
  height: auto;
  display: block;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navCenter ul {
  display: flex;
  gap: 75px;
  font-weight: 500;
  list-style: none;
  padding: 0;
  margin: 0;
}
.navCenter ul li a {
  text-decoration: none;
  color: #000;
}
.navCenter ul li a:hover {
  color: #3DCE94;
}

.navRight {
  display: flex;
  align-items: center;
  padding-left: 8rem;
  gap: 20px;
}

.member {
  padding: 0 15px;
  border: 1px solid;
  border-radius: 999px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}
.member:hover {
  color: #3DCE94;
}

.beanShape {
  margin: 8px 0;
  width: 100px;
  height: 70px;
  background-color: #6dd6a7;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-mask-image: url("../../public/assets/0.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  mask-image: url("../../public/assets/0.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  cursor: pointer;
  transform-origin: center;
}
.beanShape:hover {
  animation: pendulum 1s ease-in-out infinite;
}

.goToShop {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}

.shopList:hover {
  animation: pendulum 1s ease-in-out infinite;
}

@keyframes pendulum {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}